<!doctype html>
<html lang="en" ng-app="throttledModelTest">
<head>
	<meta charset="UTF-8">
	<title>throttled-model Test</title>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../throttled-model.js"></script>
	<script src="test.js"></script>
</head>
<body ng-controller="TestController">
	

	<input type="text" ng-model="textValue" throttled-model="throttled.textValue" throttle-ms="2000">
	
	<p>{{textValue}}</p>
	<p>{{throttled.textValue}}</p>
	

	<select ng-model="selectValue" throttled-model="throttled.selectValue" throttle-ms="7000">
		<option value="A">A</option>
		<option value="B">B</option>
		<option value="C">C</option>
	</select>
	
	<p>{{selectValue}}</p>
	<p>{{throttled.selectValue}}</p>
	
	
	<input id="one" type="radio" name="radiovalue" ng-model="radioValue" throttled-model="throttled.radioValue" throttle-ms="5000" value="1"> <label for="one">1</label>
	<input id="two" type="radio" name="radiovalue" ng-model="radioValue" throttled-model="throttled.radioValue" throttle-ms="5000" value="2"> <label for="two">2</label>
	<input id="three" type="radio" name="radiovalue" ng-model="radioValue" throttled-model="throttled.radioValue" throttle-ms="5000" value="3"> <label for="three">3</label>
	
	<p>{{radioValue}}</p>
	<p>{{throttled.radioValue}}</p>


</body>
</html>